<tr bgcolor="#ffffff">
    <td align="right" valign="top" bgcolor="#fffff0">
        <span class="label">Count of issues:</span>
    </td>
    <td bgcolor="#ffffff" nowrap>
        <input type="text" id="issueCloneCount" name="issueCloneCount" value="$!{issueCloneCount}"/>
    </td>
</tr>
<tr bgcolor="#ffffff">
    <td align="right" valign="top" bgcolor="#fffff0">
        <span class="label">Clone with attachments:</span>
    </td>
    <td bgcolor="#ffffff" nowrap>
        <input type="checkbox" id="isCloneWithAttchments" name="isCloneWithAttchments" #if(${isCloneWithAttchments} == "true")checked="checked"#end/>
    </td>
</tr>
<tr bgcolor="#ffffff">
    <td align="right" valign="top" bgcolor="#fffff0">
        <span class="label">Clone with links:</span>
    </td>
    <td bgcolor="#ffffff" nowrap>
        <input type="checkbox" id="isCloneWithLinks" name="isCloneWithLinks" #if(${isCloneWithLinks} == "true")checked="checked"#end/>
    </td>
</tr>